ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#FF8170;
}
li {
  float:left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color:#FFC2BA;
}
nav {
  color:#FFFEFA;
}


/*
Nav-background: FF8170
Hover-nav: FFC2BA
Nav-text: FFFEFA

Links to paletton: https://paletton.com/#uid=b4J053g0koXtw8GQhhWyau5lZFudS
*/
  